<app-header1></app-header1>
<div class="mock-page-wrapper">
    <div class="top-back-wrapper">

    <button
        class="ml-back-btn"
        (click)="goBackToSubjects()">

        <svg
            class="ml-back-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2.5">

            <polyline points="15 18 9 12 15 6"/>

        </svg>

        Back to Home

    </button>

</div>

    <section class="mock-hero">

        <div class="mock-hero-content">

            <div class="mock-badge">
                🛠 Admin Panel — Manage Question Banks
            </div>

            <h1>
                Manage
                <span class="mock-highlight-cyan">
                    Mock Test
                </span>

                <span class="mock-highlight-cyan">
                    Question Uploads
                </span>
            </h1>

            <p>
                Upload questions manually or bulk upload
                Excel files for Maths, Physics,
                and Chemistry.
            </p>

            <div class="mock-btn-group">

                <button
                    class="mock-btn-primary"
                    routerLink="/mock-list/Mathematics">

                    Mathematics

                </button>

                <button
                    class="mock-btn-primary"
                    routerLink="/mock-list/Physics">

                    Physics

                </button>

                <button
                    class="mock-btn-primary"
                    routerLink="/mock-list/Chemistry">

                    Chemistry

                </button>

            </div>

        </div>

    </section>
    <!-- MANAGE STUDENTS SECTION -->

<div class="admin-manage-section">

    <div class="admin-manage-content">

        <div class="admin-manage-left">

            <span class="admin-mini-badge">
                Student Administration
            </span>

            <h2>
                Manage Students &
                Platform Records
            </h2>

            <p>
                Add, edit and monitor enrolled students,
                courses, mock test attempts and activity.
            </p>

        </div>

        <div class="admin-manage-right">

            <button
                class="admin-manage-btn"
                routerLink="/admin-manageboard">

                <i class="fa-solid fa-users"></i>

                Manage Students

            </button>

        </div>

    </div>

</div>

</div>