<app-header1></app-header1>
<div class="mock-page-wrapper">

    <section class="mock-hero">

        <div class="mock-hero-content">

            <div class="mock-badge">
                🛠 Admin Panel — Manage Question Banks
            </div>

            <h1>
                Manage
                <span class="mock-highlight-cyan">
                    Mock Test
                </span>

                <span class="mock-highlight-cyan">
                    Question Uploads
                </span>
            </h1>

            <p>
                Upload questions manually or bulk upload
                Excel files for Maths, Physics,
                and Chemistry.
            </p>

            <div class="mock-btn-group">

                <button
                    class="mock-btn-primary"
                    routerLink="/subject-upload/Mathematics">

                    Mathematics

                </button>

                <button
                    class="mock-btn-primary"
                    routerLink="/subject-upload/Physics">

                    Physics

                </button>

                <button
                    class="mock-btn-primary"
                    routerLink="/subject-upload/Chemistry">

                    Chemistry

                </button>

            </div>

        </div>

    </section>

</div>